In [ ]:
import pandas as pd
from ast import literal_eval

main = pd.read_csv(
        "data/dontpatronizeme_pcl.tsv",
        sep="\t",
        skiprows=4,
        engine="python",
        # index_col=0,
        header =None,
        names = ["par_id","art_id","keyword","country","text","label"]
    )
# main.set_index(False)
val = pd.read_csv("data/val_labels.csv")   # columns: par_id, label

In [39]:
main.head()

,par_id,art_id,keyword,country,text,label
0,1,@@24942188,hopeless,ph,"We 're living in times of absolute insanity , ...",0
1,2,@@21968160,migrant,gh,"In Libya today , there are countless number of...",0
2,3,@@16584954,immigrant,ie,White House press secretary Sean Spicer said t...,0
3,4,@@7811231,disabled,nz,Council customers only signs would be displaye...,0
4,5,@@1494111,refugee,ca,""" Just like we received migrants fleeing El Sa...",0

In [41]:
val.head()

   par_id                  label              label_vec
0    4046  [1, 0, 0, 1, 0, 0, 0]  [1, 0, 0, 1, 0, 0, 0]
1    1279  [0, 1, 0, 0, 0, 0, 0]  [0, 1, 0, 0, 0, 0, 0]
2    8330  [0, 0, 1, 0, 0, 0, 0]  [0, 0, 1, 0, 0, 0, 0]
3    4063  [1, 0, 0, 1, 1, 1, 0]  [1, 0, 0, 1, 1, 1, 0]
4    4089  [1, 0, 0, 0, 0, 0, 0]  [1, 0, 0, 0, 0, 0, 0]

In [40]:
val["label_vec"] = val["label"].apply(literal_eval)

val_ids = set(val["par_id"].astype(int))
main["par_id"] = main["par_id"].astype(int)

val_df = main[main["par_id"].isin(val_ids)].copy()
train_df = main[~main["par_id"].isin(val_ids)].copy()

train_df.to_csv("data/PCL_train_dataset.tsv", sep="\t", index=False)
val_df.to_csv("data/PCL_val_dataset.tsv", sep="\t", index=False)

print("train:", len(train_df), "val:", len(val_df))

missing = val_ids - set(val_df["par_id"])
print("val ids missing from main file:", len(missing))

train: 8375 val: 2094
val ids missing from main file: 0